################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HttpClientCache/obj
/HttpClientCache/bin
/publish_nuget.bat
